* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  color: white;

  display: flex;
  justify-content: space-around;  
  align-items: center;
}

.card-container {
  width: 400px;
  height: 250px;
  perspective: 800px;
}

.card {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 50px 28px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.562);
  transition: transform .7s ease-in
}

.front {
  background-image: linear-gradient(to right, #8ac4f2, #268ccc);
}

.back {
  text-align: center;
  background-color: #268ccc;
  position: absolute;
  
  transform: rotateY(-180deg);
}

.front:after {
  content: "";
  width: 225px;
  height: 225px;
  position: absolute;
  background-color: white;
  opacity: .4;
  top: -20%;
  right: -18%;
  border-radius: 50%;
}

.front:before {
  content: "";
  width: 225px;
  height: 225px;
  position: absolute;
  background-color: white;
  opacity: .4;
  top: 45%;
  right: -7%;
  border-radius: 50%;
}

.bookmark {
  position: absolute;
  top: 19%;
  right: 25px;
}

.card-heading {
  font-weight: 400;
}

.num-of-orders {
  font-weight: bold;
  font-size: 25px;
  margin-top: -20px;
}

.card-container:hover .back {
  transform: rotateY(0);
}

.card-container:hover .front {
  transform: rotateY(180deg);
}